@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Proovitöö.Models.ParticipantsModel

<div class="tekst">
    <div class="row">
        <div class="col-2 align-items-center text-align-center d-flex" id="picturetext">
            <p>Ürituse edit</p>
        </div>
        <div class="col-10">
            <img class="picture" src="~/css/libled.jpg">
        </div>
    </div>
</div>

<div class="taust">
    <div>
        <h1>Osavõtjad</h1>
        <p>Ürituse nimi: @Model.Event.eventname</p>
        <p>Toimumise aeg: @Model.Event.eventdate</p>
        <p>Koht: @Model.Event.eventplace</p>
        <p>Osavõtjad:</p>
        <!--Listi loomine osalejatele-->
        <ul class="list-group">
            <!--Firma ning eraisiku andmete näitamine.-->
            @foreach (Companycustomer Comp in Model.Complist)
            {
                <li class="list-group-item border-0">
                    @Comp.name
                    @Comp.code
                    <a href="/home/deletecompany?id=@Comp.ID" class="link" style="float:right;"><img src="~/css/remove.svg" alt=""></a>
                    <a href="/home/Companyedit?id=@Comp.ID" class="link" style="float:right;">OSAVÕTJAD</a>
                </li>
            }
            @foreach (Privatecustomer Priv in Model.Privlist)
            {
                <li class="list-group-item border-0">
                    @Priv.firstname
                    @Priv.surname
                    @Priv.identitynumber
                    <a href="/home/deleteprivate?id=@Priv.ID" class="link" style="float:right;"><img src="~/css/remove.svg" alt=""></a>
                    <a href="/home/Privateedit?id=@Priv.ID" class="link" style="float:right;">OSAVÕTJAD</a>
                </li>
            }
        </ul>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked value="option1" onclick="setform(1)">
        <label class="form-check-label" for="inlineRadio1">Eraisik</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="setform(2)">
        <label class="form-check-label" for="inlineRadio2">Ettevõte</label>
    </div>

    <div id="formscript">
        <div class="formdesign" id="form1">
            <form method="post" action="/Home/addprivate">
                <div class="form-group row">
                    <label for="eesnimi" class="col-sm-2 col-form-label">Eesnimi:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="" name="firstname" id="eesnimi" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="perenimi" class="col-sm-2 col-form-label">Perenimi:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="" name="surname" id="perenimi" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isikukood" class="col-sm-2 col-form-label">Isikukood:</label>
                    <div class="col-sm-3">
                        <input type="number" placeholder="" name="identitynumber" id="isikukood" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="maksmisviis" class="col-sm-2 col-form-label">Maksmisviis:</label>
                    <div class="col-sm-3">
                        <select name="payment_type" id="paymenttype">
                            <option value="1">Kaart</option>
                            <option value="2">Sula</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lisainfo" class="col-sm-2 col-form-label">Lisainfo:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="" name="additionalinfo" id="lisainfo" required>
                    </div>
                </div>
                <input type="hidden" value="@Model.Event.eventID" name="EventID">
                <button type="submit" class="lisa">lisa</button>

            </form>

        </div>

        <div class="formdesign" id="form2">
            <form method="post" action="/Home/addcompany">
                <div class="form-group row">
                    <label for="ettevõttenimi" class="col-sm-2 col-form-label">Ettevõtte nimi:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="" name="name" id="ettevõttenimi" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ettevõttekood" class="col-sm-2 col-form-label">Ettevõtte registrikood:</label>
                    <div class="col-sm-3">
                        <input type="number" placeholder="" name="code" id="ettevõttenimi" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ettevõtteinimesed" class="col-sm-2 col-form-label">Ettevõttest tulevate inimeste arv:</label>
                    <div class="col-sm-3">
                        <input type="number" placeholder="" name="participants" id="ettevõtteinimesed" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="maksmisviis" class="col-sm-2 col-form-label">Maksmisviis:</label>
                    <div class="col-sm-3">
                        <select name="payment_type" id="paymenttype">
                            <option value="1">Kaart</option>
                            <option value="2">Sula</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lisainfo" class="col-sm-2 col-form-label">lisainfo</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="" name="additionalinfo" id="lisainfo" required>
                    </div>
                </div>
                <input type="hidden" value="@Model.Event.eventID" name="EventID">
                <button type="submit" class="lisa">lisa</button>
            </form>
        </div>
    </div>
</div>